/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.DS_Store
*.log
Thumbs.db
/auth.json
/.phpunit.cache
/.vscode
/.idea
/storage/pail
_ide_helper.php
Homestead.json
Homestead.yaml
